.grid_acompanhamentos {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
}

.card_metricas {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.12);
    transition: 0.3s ease;
}

.card_metricas:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 24px rgba(0,0,0,0.12);
}

.topo_card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.card_titulo {
    font-size: 1.125rem;
    font-weight: 600;
}

.card_descricao {
    color: #64748b;
    font-size: 0.875rem;
}

.status {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    font-weight: 500;
    gap: 4px;
}

.status_blue { color: #2563eb; }
.status_green { color: #16a34a; }
.status_red { color: #dc2626; }
.status_yellow { color: #eab308; }

.progress_titulo {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    margin-bottom: 6px;
}

.progress_barra {
    width: 100%;
    background: #e5e7eb;
    height: 8px;
    border-radius: 8px;
    overflow: hidden;
}

.progress_filtro {
    height: 8px;
    border-radius: 8px;
    transition: width 0.4s ease;
}

.progress_azul { 
    background-color: #2563eb;
 }

.info_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-top: 16px;
    font-size: 0.875rem;
}

.info {
    color: var(--muted);
    margin-bottom: 4px;
    font-size: 0.75rem;
}

.info_valor {
    font-weight: 500;
}

button {
    padding: 10px;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: 0.3s;
}

.btn_azul {
    background-color: #383D59;
    color: white;
}

.btn_azul:hover {
    background-color: #383d5989;
}

.btn {
    background: #e2e8f0;
    color: #334155;
}

.btn:hover {
    background: #cbd5e1;
}

@media (min-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
