
.grid_acompanhamentos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card_metricas {
    background: #fff;
    border: 1px solid #dfe3ea;
    border-radius: 14px;
    padding: 20px;
    height: 200px; /* QUADRADO */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 6px 20px rgba(15,23,42,0.06);
}

.topo_card {
    display: flex;
    align-items: center;
    gap: 12px;
}

.icone_card {
    width: 40px;
    height: 40px;
    background: #8383bc25;
    border-radius: 10px;
    display: grid;
    place-items: center;
    font-size: 20px;
    color: #383D59;
    font-weight: bold;
}

.card_metricas h3 {
    font-size: 17px;
    font-weight: 700;
    color: #383D59;
}

.descricao {
    font-size: 14px;
    color: #475569;
    margin-top: -8px;
}

.numero_grande {
    font-size: 36px;
    font-weight: 700;
    color: #383D59;
    text-align: right;
}

.progresso_container {
    width: 100%;
    height: 10px;
    background: #eef2f7;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 10px;
}

.progresso_barra {
    height: 100%;
    border-radius: 20px;
    background: linear-gradient(90deg, #8383bc, #191b33);
}

.percentual {
    font-size: 14px;
    font-weight: 600;
    color: #383D59;
    text-align: right;
}

@media (max-width: 900px) {
    .grid_acompanhamentos {
        grid-template-columns: 1fr;
    }
}
